<h2>New provisioning</h2>

<%= render "form.html", changeset: @changeset,
                        action: provisioning_path(@conn, :create) %>

<%= link "Back", to: provisioning_path(@conn, :index) %>